{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h3>Single fullwidth page title</h3>

        <p>Hello world!</p>
    </div>
</div>
{% endblock %}
