{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <article>
                <h3>Voeg een oefening toe</h3>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </article>
        </div>
    </div>
{% endblock %}
