{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h3>Recent toegevoegd</h3>

        {% for item in recentItems %}
            <h4> {{ item.title }}</h4>
            <p> {{ item.description|truncate(100, true) }}</p>

            <a href="{{ path('exercise-view', { 'exerciseId': item.id }) }}">Meer over deze oefening.</a>
        {% endfor %}
    </div>
</div>
{% endblock %}
